@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-bg: #383f47;
    --color-primary: #2596be;
    --color-primary-hover: #04648c;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* base styles */

.cta {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    width: 50%;
    max-width: 250px;
    border: none;
    padding: 1.5rem 2rem;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

.cta:hover {
    opacity: 0.8;
    transition: 0.3s ease;
}

/* wrapper */

.wrapper {
    background-image: url('https://source.unsplash.com/random/1920×1080/?office');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0 auto;

    text-align: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

/* hero section */
.hero .container {
    color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero .container .logo {
    padding: 3rem 0;
}

.hero .container .pretext {
    font-size: 0.9rem;
    text-transform: uppercase;
}

.hero .container h1 {
    font-size: 3rem;
    margin: 1rem 0;
}

.hero .container p {
    font-size: 1.25rem;
    font-weight: 300;
    width: 100%;
    margin-bottom: 3rem;
}

.hero .container .cta-hero {
    background-color: var(--color-primary-hover);
    color: #ffffff;
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1200px) {
    .hero .container p {
        width: 40%;
    }
}

/* services section */

.services .container {
    background-color: var(--color-primary-hover);
    color: #ffffff;
    padding: 5rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services .container h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.services .container .cards {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.services .container .card {
    cursor: pointer;
    text-align: left;
    padding: 1rem;
    transition: 0.3s ease;
}

.services .container .card:hover {
    background-color: #ffffff;
    color: var(--color-bg);
}

.services .container .card i {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.services .container .card h4 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.services .container .card p {
    font-weight: 300;
}

@media only screen and (min-width: 991px) {
    .services .container .cards {
        padding: 5rem;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }
}

@media only screen and (min-width: 1200px) {
    .services .container .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* about section */

.about .container {
    color: #ffffff;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about .container .left-col {
    flex: 1;
}

.about .container .left-col img {
    /* width: 300px; */
    max-width: 100%;
    padding: 2rem;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

.about .container .right-col {
    flex: 1;
}

.about .container .right-col h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.about .container .right-col p {
    font-weight: 300;
}

.about .container .right-col .cta-about {
    background-color: var(--color-primary-hover);
    color: #ffffff;
    margin: 2rem 0;
}

@media only screen and (min-width: 768px) {
    .about .container .left-col img {
        padding: 0;
    }
}

@media only screen and (min-width: 1200px) {
    .about .container {
        flex-direction: row;
    }

    .about .container p {
        width: 70%;
        margin: 0 auto;
    }
}

/* contact section */

.contact .container {
    background-color: var(--color-primary-hover);
    text-align: center;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact .container>* {
    margin-bottom: 1rem;
}

.contact .container h3 {
    color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
}

.contact .container p {
    color: #f5f5f5;
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

@media only screen and (max-width: 991px) {
    .contact .container {}
}